PORT=10000

# Google OAuth (Drive)
GOOGLE_CLIENT_ID=870797678913-mietf5odvcpna2i5eh5uvm8690nrfc48.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REFRESH_TOKEN=<REFRESH_TOKEN_HIER>
GOOGLE_DRIVE_FOLDER_ID=https://drive.google.com/drive/folders/1ZgILK-thvWA70CkX-xYac4hMrHGwn3N6?usp=drive_link

GOOGLE_DRIVE_DB_SUBFOLDER=DB
GOOGLE_DRIVE_MELDUNGEN_SUBFOLDER=meldungen
GOOGLE_DRIVE_FOTOS_SUBFOLDER=fotos

SESSION_SECRET=change_me
